body{
    font-family: 'Poppins', sans-serif;
}
.header-bg{
    background-color: #F0FFF0;
    margin-bottom: 25px;
    padding-left: 50px;
}
.container{
    padding-bottom: 70px;  
}
#nav-color{
    color:black;
}
#header-bold{
    width: 405px;
    height: 140px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
    color: #000000;
}
#green-highlight{
    color: #21B573;
}
#yellow-highlight{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #FD511A;
}
#course-center{
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #413960;
}
#testimonial-center{
    text-align: center;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}
/* .logo{
    position: absolute;
    left: 28.04%;
    right: 53.63%;
    top: 27.48%;
    bottom: 70.6%;
    background: #56548C;
} */
#img-logo{
    width: 220px; 
    height:50px;
}

.box-1 img{
    width: 66px;
    height: 85px;
}
.box-2 img{
    width: 331px;
    height: 234px;
}
#box1-bg{
    background: #F0FFF0;
}

.card{
    border:none;
    padding: 25px 0;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
} 
.card-item {
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
.card-footer{
    color:gray;
    background-color: white;
    border-top: none;
}
.title-pad {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
}
.buy-now-button{
    color:#FFF;
    width: 153px;
    height: 40px;
    border:none;
    border-radius: 33px;
    background: #21B573;
       
 
 }
 #sign-in-button{
    width: 90px;
    height: 38px; 
    text-align:center;
    color:white;
 }
 footer
{
    background-color: #282531;
    color:white;
    text-decoration: none;
}
#card-footer{
    width: 20px; 
    height: 20px;
}
 footer a{
    color: white; 
    text-decoration: none;
 }